<!DOCTYPE HTML>

<html>
<head>
    <title>Excel button Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name ="viewport" content ="width=device-width, initial-scale=1"/>

</head>

<body>
    <button class="contentsLoad">contents load </button>
    <button class="show">Show at DashBoard</button>

    <p></p>
<!--    todo -->

    <div id="panel">panel 입니당</div>
    <br>
   <div>{{test}} </div>


    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/app/excel.js"></script>
</body>


</html>